body{
	background-color: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10vw;
	font-family: arial;
}
.container{
	background-color: grey;
	border-radius: 8px;
	overflow: hidden;
	width: 600px;
	max-width: 100%;
}
.head{
	padding: 2rem;
}
.answer{
	
}
h2{
	padding: 1rem;
	text-align: center;
	margin: 0;
	font-size: 2vw;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul li{
	font-size: 1.3vw;
	margin: 1rem 1rem;
}

ul li label{
	cursor: pointer;
}
ul li:hover{
	font-weight: bold;
}
button{
	background-color: #404040;
	border: none;
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}
button:hover{
	background-color: black;
	outline: none;
	color: white;
}